[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
flask = "*"
flask-pymongo = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
jsonschema = "*"
emoji = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
