main {
    display: grid;
    grid-template-columns: auto 380px auto;
    grid-template-rows: auto;
}

header {
    grid-column-start: 2;
    text-align: center;
}

header > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #353535;
}

header > h1 > span {
    font-family: 'emojione', serif;
}

section {
    grid-column-start: 2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.feature {
    display: grid;
    grid-template-columns: 60% 10% 30%;
}

.feature-right {
    display: grid;
    grid-template-columns: 30% 10% 60%;
}

hr {
    color: gray;
}
